@import "tailwindcss";



html, body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

body {
  --toastify-color-light: #000000;
  --toastify-text-color-light: #ffffff;
  --toastify-font-family: 'Courier New', Courier, monospace;
  --toastify-font-size: 15px;
  --toastify-font-style: normal;
  --toastify-font-variant: normal;
  --toastify-font-weight: 100;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ba051,
    #91d48b,
    #b7e2b9,
    #dcf7e3,
    #ffffff
  );
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.2s both;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(6rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}