@import "tailwindcss";

@font-face {
  font-family: "myfont";
  src: url("/assets/Consolas.woff") format("woff");
}

@font-face {
  font-family: "myfont";
  src: url("/assets/Consolas-Bold.woff") format("woff");
  font-weight: bold;
}

html, body {
  font-family: 'Fira Mono', Consolas, 'Courier New', monospace;
  background-color: #000000;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.5;
}

body {
  --toastify-color-light: #000000;
  --toastify-text-color-light: #ffffff;
  --toastify-font-family: myfont;
  --toastify-font-size: 15px;
  --toastify-font-style: normal;
  --toastify-font-variant: normal;
  --toastify-font-weight: 100;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ba051,
    #91d48b,
    #b7e2b9,
    #dcf7e3,
    #ffffff
  );
}



.overlay-container {
  position: relative;
  display: inline-block; /* or block if it's a section */
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  background-image: linear-gradient(black, black),
    url("/assets/bgimage.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: saturation;
}

@media (max-width: 768px) {
  .overlay-container {
    background-attachment: scroll;
  }
  
}

.overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Black with 50% opacity */
  z-index: 1; /* Ensures overlay is above the image */
}

.overlay-content {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.2s both;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(6rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}